In [1]:
import pandas as pd
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("titanic.csv")
print(df.shape)
df.head()

(887, 8)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
df["Sex"]=df["Sex"].map({
    "male":1,
    "female":2
})
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,1,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,2,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,2,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,2,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,1,35.0,0,0,8.0500

In [5]:
df.isnull().sum()

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [6]:
df["Survived"].value_counts()

Survived
0    545
1    342
Name: count, dtype: int64

In [10]:
df.drop("Name",axis=1,inplace=True)

In [11]:
X = df.drop("Survived",axis=1)
y = df["Survived"]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

### Training DecisionTree Classifier

In [12]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
dtc.fit(X_train,y_train)
y_pred_dtc = dtc.predict(X_test)
cr_dtc = classification_report(y_test,y_pred_dtc)
print(cr_dtc)

              precision    recall  f1-score   support

           0       0.83      0.81      0.82       140
           1       0.69      0.71      0.70        82

    accuracy                           0.77       222
   macro avg       0.76      0.76      0.76       222
weighted avg       0.78      0.77      0.78       222

### Training RandomForestClassifier

In [13]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)
y_pred_rfc = rfc.predict(X_test)
cr_rfc = classification_report(y_test,y_pred_rfc)
print(cr_rfc)

              precision    recall  f1-score   support

           0       0.84      0.84      0.84       140
           1       0.73      0.72      0.72        82

    accuracy                           0.80       222
   macro avg       0.78      0.78      0.78       222
weighted avg       0.80      0.80      0.80       222

### Training SVC Model

In [15]:
from sklearn.svm import SVC

svm = SVC()
svm.fit(X_train,y_train)
y_pred_svm = svm.predict(X_test)
cr_svm = classification_report(y_test,y_pred_svm)
print(cr_svm)

              precision    recall  f1-score   support

           0       0.67      0.95      0.78       140
           1       0.68      0.18      0.29        82

    accuracy                           0.67       222
   macro avg       0.67      0.57      0.54       222
weighted avg       0.67      0.67      0.60       222

### Training GradientBoostingClassifier

In [22]:
from sklearn.ensemble import GradientBoostingClassifier

gbc = GradientBoostingClassifier(n_estimators=100)
gbc.fit(X_train,y_train)
y_pred_gbc = gbc.predict(X_test)
cr_gbc = classification_report(y_test,y_pred_gbc)
print(cr_gbc)

              precision    recall  f1-score   support

           0       0.85      0.89      0.87       140
           1       0.79      0.73      0.76        82

    accuracy                           0.83       222
   macro avg       0.82      0.81      0.81       222
weighted avg       0.83      0.83      0.83       222