# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [51]:
df=pd.read_csv("telecom_customer_churn.csv")
pd.set_option("display.max_columns",None)
print(df.shape)
df.tail(5)

(7043, 21)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [7]:
df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [9]:
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [12]:
df.info() # or df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   gender             7043 non-null   object
 2   senior_citizen     7043 non-null   int64
 3   partner            7043 non-null   object
 4   dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   phone_service      7043 non-null   object
 7   multiple_lines     7043 non-null   object
 8   internet_service   7043 non-null   object
 9   online_security    7043 non-null   object
 10  online_backup      7043 non-null   object
 11  device_protection  7043 non-null   object
 12  tech_support       7043 non-null   object
 13  streaming_tv       7043 non-null   object
 14  streaming_movies   7043 non-null   object
 15  contract           7043 non-null   object
 16  paperless_billing  7043 non-null   object
 17  payment_method     7043 non-null   object
 18  monthly_charges    7043 non-null   float64
 19  total_charges      7043 non-null   object
 20  churn              7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [14]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)

convert_columns=["monthly_charges","total_charges","tenure"]
df[convert_columns]=df[convert_columns].apply(pd.to_numeric,errors="coerce")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   gender             7043 non-null   object
 2   senior_citizen     7043 non-null   int64
 3   partner            7043 non-null   object
 4   dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   phone_service      7043 non-null   object
 7   multiple_lines     7043 non-null   object
 8   internet_service   7043 non-null   object
 9   online_security    7043 non-null   object
 10  online_backup      7043 non-null   object
 11  device_protection  7043 non-null   object
 12  tech_support       7043 non-null   object
 13  streaming_tv       7043 non-null   object
 14  streaming_movies   7043 non-null   object
 15  contract           7043 non-null   object
 16  paperless_billing  7043 non-null   object
 17  payment_method     7043 non-null   object
 18  monthly_charges    7043 non-null   float64
 19  total_charges      7032 non-null   float64
 20  churn              7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [18]:
charges_mean=df["monthly_charges"].mean()
charges_med=df["monthly_charges"].median()
charges_mod=df["monthly_charges"].mode()

print(f"Mean: {charges_mean}")
print(f"Median: {charges_med}")
print(f"Mode: {charges_mod}")

Mean: 64.76169246059918
Median: 70.35
Mode: 0    20.05
Name: monthly_charges, dtype: float64

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [27]:
percentiles=df["total_charges"].quantile([0.25,0.50,0.75])


print(f"25th Percentile : {percentiles[0.25]:.2f}\n")
print(f"50th Percentile : {percentiles[0.50]:.2f}\n")
print(f"75th Percentile : {percentiles[0.75]:.2f}")

25th Percentile : 401.45

50th Percentile : 1397.47

75th Percentile : 3794.74

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

### Range = Maximum - Minimum

In [32]:
range_of_monthly_charges=df["monthly_charges"].max()-df["monthly_charges"].min()
print('Range of monthly charges column:', range_of_monthly_charges)

Range of monthly charges column: 100.5

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [41]:
first_quartile=df.loc[df["churn"]=="No", "monthly_charges"].quantile(0.25)
print(f"The First Quartile of the Monthly Charges column for customers who have not Churned : {first_quartile}")

The First Quartile of the Monthly Charges column for customers who have not Churned : 25.1

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [42]:
third_quartile=df.loc[df["churn"]=="Yes", "total_charges"].quantile(0.75)
print(f"The Third Quartile of the Monthly Charges column for customers who have not Churned : {third_quartile}")

The Third Quartile of the Monthly Charges column for customers who have not Churned : 2331.3

Q6-  What is the mode of the payment method column for customers who have churned?

In [47]:
mode_churned=df.loc[df['churn']=="Yes","payment_method"].mode()
print(f"The mode of the payment method column for customers who have Churned : {mode_churned[0]}")

The mode of the payment method column for customers who have Churned : Electronic check

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [50]:
# Filter the rows based on the churn status and contract type
# Calculate the mean of the total charges column
# Print the result

mean_of_total_charges=df.loc[(df["churn"]=="Yes") & (df["contract"]=="Month-to-month"),"total_charges"].mean()
print(f"The mean of the total charges column for customers who have churned and have a month-to-month contract : {mean_of_total_charges}")

The mean of the total charges column for customers who have churned and have a month-to-month contract : 1164.4605740181269

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [52]:
# Filter the rows based on the churn status and contract type
# Calculate the median of the tenure column
# Print the result

median_of_tenure_column=df.loc[(df["churn"]=="No") & (df["contract"]=="Two year"),"tenure"].median()
print(f"The median of the tenure column for customers who have not churned and have a two-year contract : {median_of_tenure_column}")

The median of the tenure column for customers who have not churned and have a two-year contract : 64.0