In [1]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

In [2]:
dir(housing)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [7]:
housing.feature_names,housing.target,housing.target_names

(['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 ['MedHouseVal'])

In [4]:
housing.data

array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]])

In [6]:
df = pd.DataFrame(housing.data,columns=housing.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [8]:
df["MedHouseVal"]=housing.target
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [9]:
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [10]:
df.isnull().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

X = df.drop('MedHouseVal', axis=1)
y = df['MedHouseVal']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Training Linear Regression Model

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error
import time

start = time.time()
model = LinearRegression()
model.fit(X_train,y_train)
stop = time.time()
y_pred = model.predict(X_test)
r2s = r2_score(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred)

print(f"R2 Score : {r2s}")
print(f"Mean Squared Error : {mse}")
print(f"Time Taken : {stop-start}")

R2 Score : 0.5757877060324511
Mean Squared Error : 0.555891598695244
Time Taken : 0.007313728332519531

### Training Gradient Boost Model

In [15]:
from sklearn.ensemble import GradientBoostingRegressor

start = time.time()
model = GradientBoostingRegressor()
model.fit(X_train,y_train)
stop = time.time()
y_pred = model.predict(X_test)
r2s = r2_score(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred)

print(f"R2 Score : {r2s}")
print(f"Mean Squared Error : {mse}")
print(f"Time Taken : {stop-start}")

R2 Score : 0.7756446042829697
Mean Squared Error : 0.2939973248643864
Time Taken : 7.20383620262146

### Training eXtreme Gradient Boost

In [16]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-3.0.2-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\chatla manikanta\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\chatla manikanta\anaconda3\lib\site-packages (from xgboost) (1.13.1)
Downloading xgboost-3.0.2-py3-none-win_amd64.whl (150.0 MB)
   ---------------------------------------- 0.0/150.0 MB ? eta -:--:--
   - -------------------------------------- 6.3/150.0 MB 32.2 MB/s eta 0:00:05
   --- ------------------------------------ 12.8/150.0 MB 31.0 MB/s eta 0:00:05
   ----- ---------------------------------- 19.4/150.0 MB 31.4 MB/s eta 0:00:05
   ------ --------------------------------- 25.7/150.0 MB 30.7 MB/s eta 0:00:05
   -------- ------------------------------- 31.2/150.0 MB 30.5 MB/s eta 0:00:04
   --------- ------------------------------ 36.2/150.0 MB 29.1 MB/s eta 0:00:04
   ----------- ---------------------------- 42.5/150.0 MB 29.0 MB/s eta 0:00:04
   ------------ --------------------------- 47.7/150.0 MB 28.7 MB/s eta 0:00:04
   -------------- ------------------------- 53.0/150.0 MB 28.3 MB/s eta 0:00:04
   --------------- ------------------------ 57.7/150.0 MB 27.8 MB/s eta 0:00:04
   ---------------- ----------------------- 63.2/150.0 MB 27.4 MB/s eta 0:00:04
   ------------------ --------------------- 69.5/150.0 MB 27.9 MB/s eta 0:00:03
   -------------------- ------------------- 76.0/150.0 MB 28.2 MB/s eta 0:00:03
   ---------------------- ----------------- 82.8/150.0 MB 28.4 MB/s eta 0:00:03
   ------------------------ --------------- 91.0/150.0 MB 29.0 MB/s eta 0:00:03
   -------------------------- ------------- 99.4/150.0 MB 29.6 MB/s eta 0:00:02
   --------------------------- ----------- 107.5/150.0 MB 30.1 MB/s eta 0:00:02
   ----------------------------- --------- 114.6/150.0 MB 30.2 MB/s eta 0:00:02
   ------------------------------- ------- 122.4/150.0 MB 30.7 MB/s eta 0:00:01
   --------------------------------- ----- 128.5/150.0 MB 30.4 MB/s eta 0:00:01
   ---------------------------------- ---- 134.0/150.0 MB 30.2 MB/s eta 0:00:01
   ------------------------------------ -- 139.5/150.0 MB 30.0 MB/s eta 0:00:01
   ------------------------------------- - 145.2/150.0 MB 29.8 MB/s eta 0:00:01
   --------------------------------------  149.9/150.0 MB 29.8 MB/s eta 0:00:01
   --------------------------------------  149.9/150.0 MB 29.8 MB/s eta 0:00:01
   --------------------------------------  149.9/150.0 MB 29.8 MB/s eta 0:00:01
   --------------------------------------- 150.0/150.0 MB 27.0 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-3.0.2

In [18]:
from xgboost import XGBRegressor

start = time.time()
model = XGBRegressor( n_estimators=100)
model.fit(X_train,y_train)
stop = time.time()
y_pred = model.predict(X_test)
r2s = r2_score(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred)

print(f"R2 Score : {r2s}")
print(f"Mean Squared Error : {mse}")
print(f"Time Taken : {stop-start}")

R2 Score : 0.8301370561019205
Mean Squared Error : 0.2225899267544737
Time Taken : 0.277080774307251