In [40]:
import pandas as pd
import scipy.stats as st
import numpy as np

In [20]:
df=pd.read_csv("students_scores.csv")
df.shape
df.head()

   StudentID       Name Gender  Age  MathScore  ScienceScore  PassedScience
0          1  Student_1      M   17      70.87         72.16              1
1          2  Student_2      F   16      67.01         89.44              1
2          3  Student_3      M   16      70.92         68.82              1
3          4  Student_4      M   18      50.12        104.64              1
4          5  Student_5      M   16      67.80         79.51              1

In [39]:
math_avg=round(df["MathScore"].mean(),2)
sci_avg=round(df["ScienceScore"].mean(),2)
math_std=round(df["MathScore"].std(),2)
sci_std=round(df["ScienceScore"].std(),2)

In [28]:
math_avg,sci_avg

(69.99, 72.44)

In [52]:
SAMPLE_SIZE=40

sample_data=df.sample(SAMPLE_SIZE,random_state=100)
sample_mean_math=sample_data["MathScore"].mean()
sample_mean_sci=sample_data["ScienceScore"].mean()

In [53]:
final_prob_98=0.98+((1-0.98)/2)
final_prob_98

0.99

In [54]:
z_score_98=st.norm.ppf(final_prob_98)
std_error_98_math=math_std/np.sqrt(SAMPLE_SIZE)

moe_math=z_score_98*std_error_98_math
lower_math=sample_mean_math-moe_math
upper_math=sample_mean_math+moe_math

print(f"Math confidence intervals lower : {lower_math:.2f} & upper : {upper_math:.2f}")

Math confidence intervals lower : 67.38 & upper : 74.09

In [55]:
std_error_98_sci=sci_std/np.sqrt(SAMPLE_SIZE)
moe_sci=z_score_98*std_error_98_sci
lower_sci=sample_mean_math-moe_sci
upper_sci=sample_mean_math+moe_sci

print(f"Science confidence intervals lower : {lower_sci:.2f} & upper : {upper_sci:.2f}")

Science confidence intervals lower : 65.89 & upper : 75.58

In [56]:
prob_99=0.99+((1-0.99)/2)
z_score_99=st.norm.ppf(prob_99)
std_sci_99=sci_std/np.sqrt(SAMPLE_SIZE)
moe_sci_99=z_score_99*std_sci_99

lower_sci_99=sample_mean_sci-moe_sci_99
upper_sci_99=sample_mean_sci+moe_sci_99

print(f"Science 99% confidence intervals lower : {lower_sci_99:.2f} & upper : {upper_sci_99:.2f}")

Science 99% confidence intervals lower : 66.60 & upper : 77.32

In [75]:
sci_pass=sample_data[sample_data["ScienceScore"]>=50]
mean_sci_pass=round(sci_pass["ScienceScore"].mean(),2)
smpl_sci_pass=round(sci_pass["ScienceScore"].std(),2)

In [71]:
mean_sci_pass

72.96

In [76]:
prob_pass=0.98+((1-0.98)/2)
z_score_sci_pass=st.norm.ppf(prob_pass)
sterror_sci_pass=smpl_sci_pass/np.sqrt(len(sci_pass))

moe_sci_pass=z_score_sci_pass*sterror_sci_pass

lower_sci_pass=mean_sci_pass-moe_sci_pass
upper_sci_pass=mean_sci_pass+moe_sci_pass

print(f"Science passed 98% confidence intervals lower : {lower_sci_pass:.2f} & upper : {upper_sci_pass:.2f}")

Science passed 98% confidence intervals lower : 67.76 & upper : 78.16